Intermediate/AssetRegistryCache/*
Intermediate/Build/*
Intermediate/Cache/*
Intermediate/ProjectFiles/*
Intermediate/ReimportCache/*
Intermediate/Staging/*
Intermediate/Plugins/*
Intermediate/Config/CoalescedSourceConfigs/*
Intermediate/Android/* 
Binaries/*

Plugins/SpinePlugin/Intermediate/*
Plugins/MobileUtils/Intermediate/*
Plugins/SpinePlugin/Binaries/*
Plugins/MobileUtils/Binaries/*




Intermediate/CachedAssetRegistry.bin

Saved/*
Build/*
DerivedDataCache/*
Binaries/*
.vs/

## Ignore UE4 files and VS / XCode solutions and projects

*.sln
*.vcxproj
*.xcodeproj
*.VC.db
*.java
## Other files
*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.pdb